
<div class="header">
    <div class="logo">
        <img src="../../assets/logohust.svg.png" alt="" class="logohust">
    </div>
    <div class="menu-main">
        <li><a href="">Trang chủ</a></li>
        <li><a href="">Khóa học</a></li>
        <li><a href="">Donate</a></li>
    </div>
    <div class="other">
        <!-- <li><input placeholder="Tìm kiếm..." type="text"> <i class="fas fa-search"></i></li> -->
        <button class="btn btn-sm btn-primary"><span class="fas fa-address-card"></span></button>

    </div>
</div>
