<div class="menu">
    <ul>
        <li><a href=""></a>Viện toán</li>
        <ul class="sub-menu">
            <li><a href="">Giải tích I</a></li>
            <li><a href="">Giải tích II</a></li>
            <li><a href="">Giải tích III</a></li>
            <li><a href="">Xác suất thống kê</a></li>
            <li><a href="">Đại số</a></li>
        </ul>
    </ul>
    <ul>
        <li><a href=""></a>Viện lý</li>
        <ul class="sub-menu">
            <li><a href="">Vật lý đại cương I</a></li>
            <li><a href="">Vật lý đại cương II</a></li>
            <li><a href="">Vật lý đại cương III</a></li>
        </ul>
    </ul>
    <ul>
        <li><a href=""></a>Chính trị</li>
        <ul class="sub-menu">
            <li><a href="">Triết học Mác-Lenin</a></li>
            <li><a href="">Kinh tế chính trị Mác-Lenin</a></li>
            <li><a href="">Pháp luật đại cương</a></li>
            <li><a href="">Tư tưởng Hồ Chí Minh</a></li>
        </ul>
    </ul>
</div>
